/* Google Fonts */
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"); */

/* Tailwind CSS */
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Tailwind Custom Properties */
@theme {
    --font-primary: "Ubuntu", sans-serif;
    --font-title: "Montserrat", sans-serif;

    /* Light Mode */
    --color-light-bg-primary: #f5f7fa; /* main background */
    --color-light-bg-secondary: #ffffff; /* cards/panels */
    --color-light-primary: #374151; /* normal text */
    --color-light-title: #111827; /* headings/titles */
    --color-light-highlight: #3b82f6; /* accents, links, buttons */

    /* Dark Mode */
    --color-dark-bg-primary: #121c2a; /* deep blue, techy feel */
    --color-dark-bg-secondary: #1f3148; /* slightly lighter for cards/panels */
    --color-dark-primary: #d1d5db; /* text */
    --color-dark-title: #f9fafb; /* headings */
    --color-dark-highlight: dodgerBlue; /* accent */

    /* Common Mode */
    --color-highlight: #155dfc;
}

/* Custom Classes */

.click-effect {
    @apply transition-[scale] active:scale-95 duration-150;
}

.max-width {
    max-width: 1200px;
}

html {
    /* scrollbar-gutter: stable; */
}

/* Plugins */
@plugin "tailwind-scrollbar";
